<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rincón do Porrón</title>
    <link rel="stylesheet" href="../Css/estilos.css">
    <link rel="stylesheet" href="../Librerias/fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/css/all.min.css">
    <link rel="shortcut icon" href="../Imagenes/Loguito.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
</head>


<body>
    <!-- BOTON DE IR ARRIBA -->
    <div id="btn-top">
      <span class="fas fa-angle-up"></span>
    </div>
   
    <!-- MENU PRINCIPAL TOP-BAR -->
    <div class="top-bar">

        <div class="logo" id="logo"><img src="../Imagenes/Logo-libre.png" alt="logo"></div>

        <div class="barra-menu" id="barra-menu">
            <i class="fas fa-angle-right" id="bntMenuClose"></i>
            <nav class="enlaces" id="enlaces">
                <ul>
                    <li><a href="#presentacion">Coñécenos</a></li>
                    <li><a href="#sabores">Os nosos sabores</a></li>
                    <li><a href="#oferta-completa">Productos</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>

            </nav>


            <div class="redes-sociales">
                <a href="https://www.facebook.com/rinconporron" target="_blank"><span class="fab fa-facebook"></span></a>
                <a href="https://www.instagram.com/rincondoporron?igsh=ajIxNjk3d3NnNHpk&utm_source=qr" target="_blank"><span class="fab fa-instagram"></span></a>
                <a href="https://open.spotify.com/playlist/5CLibXGQ1ZMfq7ybKpMOOD?si=8d4e9bb3dcae4c6c" target="_blank"><span class="fab fa-spotify"></span></a>
            </div>

        </div>

        <i class="fas fa-bars" id="btnMenuOpen"></i>



    </div>

    <!-- PORRONES EN SLIDE -->

    <section id="porrones-principales">
       <div class="contenedor-principal">
           <button id="btn-izquierda"><span class="fas fa-angle-left"></span></button>


          <div class="slider">
             <div class="container-productos">
                       <div class="descripcion-productos">
                             <h2>O <b>tradicional</b> da casa</h2>
                             <h1>Auga de Valencia</h1>
                              <p>O de sempre, o que nunca falta, o perfecto equilibrio entre sabor seco e doce. Co seu sabor a laranxa
                               logra conquistar todos os padais, pero ollo! cando te queres dar conta igual xa vas de lado... </p>
                             <button class="btn">Descubre máis <span class="fas fa-angle-right"></span></button>
                        </div>
                        <div class="imagen-porrones"><img src="../Imagenes/porrones/Agua-de-valencia.png" alt=""></div>
             </div>
             

             
             <div class="container-productos">
             <div class="descripcion-productos">
                <h2>O <b>favorito</b> do pobo</h2>
                <h1>Marea Negra</h1>
                <p>Foi o derradeiro en chegar á casa pero quedar quedou. E vaia se quedou! 
                Co seu sabor que recorda á lambonada da coca-cola (según confirman os nosos máis refinados clientes) e o engadido do 
                choupiño de Jagger para os que queren dar ó extra, o Marea Negra é a dia de hoxe, o best seller sen dúbida ningunha. 
                Tamén é un recordo amargo do Prestige nas nosas costas, por iso o seu cor azul tinguido de negro. </p>
                <button class="btn">Descubre máis <span class="fas fa-angle-right"></span></button>


             </div>
              <div class="imagen-porrones">
                <img src="../Imagenes/porrones/marea-negra.png" alt="">
              </div>
              </div>
              

              
              <div class="container-productos">
              <div class="descripcion-productos">
                <h2>O <b>doce</b> consentidiño</h2>
                <h1>Moradiño</h1>
                <p>Cun sabor a cereixa e un gusto doce xentil, é das mellores opcións para os que queren escoller un dos lixeiros e teñen claro o que lles gusta. </p>
                <button class="btn">Descubre máis<span class="fas fa-angle-right"></span></button>


              </div>
              <div class="imagen-porrones">
                <img src="../Imagenes/porrones/moradino.png" alt="">
               </div>
               </div>
             

             
              <div class="container-productos">
               <div class="descripcion-productos">
                <h2>O <b>permisivo</b> </h2>
                <h1>Tropical</h1>
                <p>O Tropical é o claro exemplo de que hai vida mais alá da borracheira desmesurada. 
                O favorito dos e das que queren beber e pasar un rato agradable asi coma tamén poder ser persoas ó día seguinte... Se mañá hai exame, hoxe toca un tropical. </p>
                <button class="btn">Descubre máis <span class="fas fa-angle-right"></span></button>


               </div>
               <div class="imagen-porrones">
                <img src="../Imagenes/porrones/tropical.png" alt="">
              </div>
              </div>
             
 
              
                <div class="container-productos">
                <div class="descripcion-productos">
                <h2>O  <b>clásico</b> </h2>
                <h1>Kalimotxo</h1>
                <p>Para os que lles gusta beber do porrón pero non lles van os experimentos. Ás veces vas a licor café pero hoxe toca estrear a camiseta do Primark e a túa aposta segura é o Kalimotxo.</p>
                <button class="btn">Descubre máis <span class="fas fa-angle-right"></span></button>


              </div>
              <div class="imagen-porrones">
                <img src="../Imagenes/porrones/Kalimotxo.png" alt="">
             </div>
              </div>
              

              
              <div class="container-productos">
               <div class="descripcion-productos">
                <h2>O  <b>irmán</b> do medio</h2>
                <h1>Peregrino</h1>
                <p>Un dos porróns máis infravalorados e esquecidos de todos. Mentres que todo o mundo aposta por ir a tope con Marea Negra ou tomalo con calma cun Tropical, 
                queda o Peregrino ó que ninguén lle bota contas porque, bueno, e que xa estou bebendo este... O día que decidas probalo vaste sorprender co seu sabor fresco e cítrico.</p>
                <button class="btn">Descubre máis <span class="fas fa-angle-right"></span></button>


               </div>
                <div class="imagen-porrones">
                <img src="../Imagenes/porrones/peregrino.png" alt="">
                </div>
                </div>
            </div>
                
                

             
         <button id="btn-derecha"><span class="fas fa-angle-right"></span></button>
          
       </div>
    </section>

   <!-- SECCION PRESENTACION -->
   <section id="presentacion">
          
      <div class="presentacion-titulos">
          <h2 class="subtitulos">Unha das máis emblemáticas tabernas de Santiago</h2>
          <h1 class="titulos">Benvidos ó Rincón do Porrón</h1>

      </div>

      <div class="presentacion-container">
        
        <div class="imagen-central"> 
          <img class="imagen-local" src="../Imagenes/foto local.jpg" alt="">
        </div>

        <div class="items reconocido">
          <p><span class="fa-solid fa-medal"></span></p>
          <p class="titulo-item"><strong>Recoñecido</strong></p>
          <p class="texto-item">Un dos obrigados da noite Santiaguesa. Tes que comezar no porrón se queres vivir a experiencia da zona vella.</p>
        </div>

        <div class="items popular">
          <p><span class="fa-solid fa-comments"></span></p>
          <p class="titulo-item"><strong>Popular</strong></p>
          <p class="texto-item">Tódolos estudantes da cidade coñecen ou xa estiveron algunha vez aquí, por algo será.</p>
        </div>

        <div class="items innovador">
          <p><span class="fa-solid fa-flask-vial"></span></p>
          <p class="titulo-item"><strong>Innovador</strong></p>
          <p class="texto-item">O porrón é un espazo de todos e todas. Aquí mesturamos tradición e experimentación. O mellor do novo e do de sempre.</p>
        </div>

       <div class="items historico">
          <p><span class="fa-solid fa-landmark"></span></p>
          <p class="titulo-item"><strong>Histórico</strong></p>
          <p class="texto-item">Abertos dende 1942 e cunha das licencias de hostelería máis antigas da cidade.</p>
       </div>


      </div>







   </section>

    <!-- SECCION SABORES -->
    <section id="sabores">
           <h1>Descubre os nosos sabores</h1>
       <div class="sabor">
            <img src="../Imagenes/Sabores/auga-de-valencia.png" alt="" class="sabor-imagen">
            <div class="sabor-info">
               <h2>Auga de Valencia</h2>
               <p>Cava </p>
               <p>Zume de laranxa</p>
               <p>Vodka</p>
               <div class="notas-sabores">
                 <i class="fa-solid fa-martini-glass"></i>
                 <i class="fa-solid fa-plus"></i>
                 <i class="fa-solid fa-plus"></i>
                 <i class="fa-solid fa-plus"></i>
               </div>
           </div>
       </div>

       <div class="sabor">
        <img src="../Imagenes/Sabores/131002.png" alt="" class="sabor-imagen">
        <div class="sabor-info">
           <h2>Marea Negra</h2>
           <p>Vermouth Branco </p>
           <p>Kas limón</p>
           <p>Jaggermeister</p>
           <div class="notas-sabores">
             <i class="fa-solid fa-martini-glass"></i>
             <i class="fa-solid fa-plus"></i>
             <i class="fa-solid fa-plus"></i>
             <i class="fa-solid fa-plus"></i>
           </div>
       </div>
       </div>

       <div class="sabor">
        <img src="../Imagenes/Sabores/moradino.png" alt="" class="sabor-imagen">
        <div class="sabor-info">
           <h2>Moradiño</h2>
           <p>Viño Branco </p>
           <p>Kas laranxa</p>
           <p>Granadina</p>
           <div class="notas-sabores">
             <i class="fa-solid fa-martini-glass"></i>
             <i class="fa-solid fa-plus"></i>
             
           </div>
       </div>
       </div>

       <div class="sabor">
        <img src="../Imagenes/Sabores/tropical.png" alt="" class="sabor-imagen">
        <div class="sabor-info">
           <h2>Tropical</h2>
           <p>Viño Branco</p>
           <p>Kas laranxa</p>
           <p>Maracuyá</p>
           <div class="notas-sabores">
             <i class="fa-solid fa-martini-glass"></i>
             <i class="fa-solid fa-plus"></i>
           </div>
       </div>
       </div>

       <div class="sabor">
        <img src="../Imagenes/Sabores/kalimotxo.png" alt="" class="sabor-imagen">
        <div class="sabor-info">
           <h2>Kalimotxo</h2>
           <p>Viño Tinto </p>
           <p>Cola</p>
           <p>Licor de mora</p>
           <div class="notas-sabores">
             <i class="fa-solid fa-martini-glass"></i>
             <i class="fa-solid fa-plus"></i>
             <i class="fa-solid fa-plus"></i>
             
           </div>
       </div>
       </div>

       <div class="sabor">
        <img src="../Imagenes/Sabores/peregrino.png" alt="" class="sabor-imagen">
        <div class="sabor-info">
           <h2>Peregrino</h2>
           <p>Viño e Vermouth Branco </p>
           <p>Kas limón</p>
           <p>Lima</p>
           <div class="notas-sabores">
             <i class="fa-solid fa-martini-glass"></i>
             <i class="fa-solid fa-plus"></i>
             <i class="fa-solid fa-plus"></i>
             
           </div>
       </div>
       </div>


    </section>

    <!-- SECCION OFERTA -->
    <section id="oferta-completa">
      <div class="oferta">
        <img src="../Imagenes/Oferta/porron.jpg" alt="" class="imagen-oferta">
        <div class="info-oferta">
          <p><span class="fa-solid fa-wine-bottle"></span></p>
          <p class="txt-oferta">Porróns</p>
        </div>
      </div>
      <div class="oferta">
        <img src="../Imagenes/Oferta/combinados.jpeg" alt="" class="imagen-oferta">
        <div class="info-oferta">
          <p><span class="fa-solid fa-whiskey-glass"></span></p>
          <p class="txt-oferta">Combinados</p>
        </div>
      </div>
      <div class="oferta">
        <img src="../Imagenes/Oferta/chupitos.jpg" alt="" class="imagen-oferta">
        <div class="info-oferta">
          <p><span class="fa-solid fa-whiskey-glass"></span></p>
          <p class="txt-oferta">Choupiños</p>
        </div>
      </div>
      <div class="oferta">
        <img src="../Imagenes/Oferta/refrescos.jpeg" alt="" class="imagen-oferta">
        <div class="info-oferta">
          <p><span class="fa-solid fa-glass-water"></span></p>
          <p class="txt-oferta">Refrescos</p>
        </div>
      </div>
    </section>
    
    <!-- SECCION CONTACTO -->
    <section id="contacto">
      <div class="titulo-contacto">
        <h2 class="titulos">Queres contactar con nós?</h2>
        <h1 class="subtitulos">Envíanos a túa mensaxe</h1>
      </div>
      <form action="" id="formulario">
       <div class="two-fields">
            <div class="inputConIcon"> 
             <input type="text" id="nombre" name="nombre" class="input-text" placeholder="Nome">
             <i class="fas fa-user"></i>
            </div>
            <div class="inputConIcon">
              <input type="text" id="email" name="email"  class="input-email" placeholder="E-Mail">
              <i class="fas fa-envelope" ></i>
            </div>
       </div>
       <div class="fields">
        <div class="textareaConIcon"> 
          <textarea name="comentarios" id="comentarios" class="textarea" placeholder="Ingrese a súa mensaxe"></textarea>
          <i class="fas fa-comments"></i>
        </div>
        <div class="field-btn">
          <input type="submit" class="btn btn-input" value="Enviar">
        </div>
       </div>


      </form>



    </section>
    

    <!-- mapa -->
    <section id="caja-mapa">
    <div class="mapa">
      <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d93554.19380461886!2d-8.624963136854092!3d42.88194975447746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0xd2efe4450743859%3A0x10ef63f6fe734a27!2sR%C3%BAa%20da%20Algalia%20de%20Arriba%2C%2021%2C%2015704%20Santiago%20de%20Compostela%2C%20A%20Coru%C3%B1a%2C%20Espa%C3%B1a!3m2!1d42.8819793!2d-8.5425624!5e0!3m2!1ses!2sdk!4v1709904685297!5m2!1ses!2sdk"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
    </div>
    </section>
    
      <!-- FOOTER -->
    <footer>
      <div class="sociales-metodo">
        <i class="fas fa-location-dot"></i>
        <span>Rúa Algalia de Arriba nº 21</span>
      </div>

      <div class="sociales-metodo">
        <i class="fas fa-envelope"></i>
        <span>rincondoporron@gmail.com</span>
      </div>

      <div class="sociales-metodo">
        <i class="fas fa-phone"></i>
        <span>600 028 255 // 671 883 641</span>
      </div>

      

      <div class="sociales-metodo  extra">
        <a href="https://g.co/kgs/Lu4YvDT" style="color:  #64512f;" target="_blank"><i class="fa-brands fa-google" ></i></a>
        <span>Comenta e evalúanos en Google</span>
      </div>

    </footer>


    <!-- ALERTS -->
    <div class="alerts">
      <div id="alertError" class="alert hide">
          <span class="icono-alert  fas fa-exclamation-circle"></span>
          <span class="msg">Error: Datos inválidos. Asegúrate de que os campos non estén vacíos e sexan correctos</span>
      </div>

      <div id="alertSucess" class="alert hide">
        <span class="icono-alert  fas fa-check-circle"></span>
        <span class="msg">Datos enviados con éxito! Grazas por contactarnos</span>
      </div>

    </div>


    <!-- Codigo JS -->
    <script src="../Js/JavaScript.js"> </script>

</body>



</html>